data/raw
coniiis
*DS_Store
*/*DS_Store
*.o
MPF_CMU/mpf
MPF_CMU/mpf_AMD
MPF_CMU/PLOTS/*eps
MPF_CMU/TEST/*
MPF_CMU/TEST_COMP/*
data/COGSCI23/evo_raw
data/COGSCI23/evo_raw_1K
MPF_VMP
glassenv
coniii
MPF_CMU/nohup.out
NSDUH/data/raw
cantometrics
lexibank-analysed
universal_music
